.form {
  font-family: sans-serif;
  width: 395px;
  max-height: 160px;
  background-color: #fcc428;
  padding: 5px 15px 16px 9px;

  div {
    display: flex;
  }

  &__paragraph {
    font-size: 12px;
    font-weight: 700;

    &--error {
      color: red;
    }
    &--success {
      color: green;
    }
  }

  &__input {
    width: 330px;
    padding: 20.5px 29px;
    background-color: #fcc428;
    border-radius: 12px;
    border: 1.5px solid #969696;
    outline: none !important;

    &::placeholder {
      color: #424242;
    }
  }

  &__button {
    border-radius: 12px;
    width: 94px;
    height: 46px;
    margin-top: 5px;
    margin-left: -100px;
    background-color: #000000;
    color: #ffff;
    font-weight: 700;
    font-size: 14px;
    border: none;

    &:disabled {
      background-color: #c4c4c4;
    }
  }
}

//I'll move it later
.d-none {
  display: none;
}
